
@{
    ViewBag.Title = "Bulk Invoer Stagiair";
}

<h2>BulkImportStagiair</h2>
@using (Html.BeginForm("BulkInvoer", "Stagiair", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="file" />
    <input type="submit" value="OK" />
}  
<p>@Html.Encode(ViewData["Feedback"])</p>