@model PVB_Stage_Applicatie.Models.Beoordeling

@{
    ViewBag.Title = "Create";
}

<style type="text/css">
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    th, td {
        padding: 5px;
    }

    cvsmaster {
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select:none;
        user-select:none;
    }



    .clsbtn {
        text-align: center;
        vertical-align: middle;
    }
</style>

<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
<script src="~/Scripts/canvas2image.js"></script>
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>

Beoordeling1
<input name="Beoordeling1" type="radio" value="1"> O Onvoldoende</input>
<input name="Beoordeling1" type="radio" value="2"> M Matig</input>
<input name="Beoordeling1" type="radio" value="3"> V Voldoende</input>
<input name="Beoordeling1" type="radio" value="4"> G Goed</input>
<input name="Beoordeling1" type="radio" value="5"> X Niet van toepassing</input>

</br>
</br>

<table>
    <thead>
        <tr>
            <th>Technische aspecten</th>
            <th>O</th>
            <th>M</th>
            <th>V</th>
            <th>G</th>
            <th>X</th>
            <th>Opmerking</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Voorbereding werkzaamheden</td>
            <td><input name="VoorbereidWerk" type="radio" value="o" /></td>
            <td><input name="VoorbereidWerk" type="radio" value="m" /></td>
            <td><input name="VoorbereidWerk" type="radio" value="v" /></td>
            <td><input name="VoorbereidWerk" type="radio" value="g" /></td>
            <td><input name="VoorbereidWerk" type="radio" value="n" /></td>
            <td><textarea id="VoorbereidWerkOpm" rows="1" cols="50"></textarea></td>
        </tr>
        <tr>
            <td>Plannen en organiseren werkzaamheden</td>
            <td><input name="PlanEnOrganiserenWerk" type="radio" value="o" /></td>
            <td><input name="PlanEnOrganiserenWerk" type="radio" value="m" /></td>
            <td><input name="PlanEnOrganiserenWerk" type="radio" value="v" /></td>
            <td><input name="PlanEnOrganiserenWerk" type="radio" value="g" /></td>
            <td><input name="PlanEnOrganiserenWerk" type="radio" value="n" /></td>
            <td><textarea id="PlanEnOrganiserenWerkOpm" rows="1" cols="50"></textarea></td>
        </tr>
        <tr>
            <td>Theoretisch inzicht</td>
            <td><input name="TheoretischInzicht" type="radio" value="o" /></td>
            <td><input name="TheoretischInzicht" type="radio" value="m" /></td>
            <td><input name="TheoretischInzicht" type="radio" value="v" /></td>
            <td><input name="TheoretischInzicht" type="radio" value="g" /></td>
            <td><input name="TheoretischInzicht" type="radio" value="n" /></td>
            <td><textarea id="TheoretischInzichtOpm" rows="1" cols="50"></textarea></td>
        </tr>
        <tr>
            <td>Technisch inzicht</td>
            <td><input name="TechnischInzicht" type="radio" value="o" /></td>
            <td><input name="TechnischInzicht" type="radio" value="m" /></td>
            <td><input name="TechnischInzicht" type="radio" value="v" /></td>
            <td><input name="TechnischInzicht" type="radio" value="g" /></td>
            <td><input name="TechnischInzicht" type="radio" value="n" /></td>
            <td><textarea id="TechnischInzichtOpm" rows="1" cols="50"></textarea></td>
        </tr>
        <tr>
            <td>Kwaliteit geleverd werk</td>
            <td><input name="KwalGeleverdWerk" type="radio" value="o" /></td>
            <td><input name="KwalGeleverdWerk" type="radio" value="m" /></td>
            <td><input name="KwalGeleverdWerk" type="radio" value="v" /></td>
            <td><input name="KwalGeleverdWerk" type="radio" value="g" /></td>
            <td><input name="KwalGeleverdWerk" type="radio" value="n" /></td>
            <td><textarea id="KwalGeleverdWerkOpm" rows="1" cols="50"></textarea></td>
        </tr>
        <tr>
            <td>Rapporterem werkzaamheden</td>
            <td><input name="RapportWerk" type="radio" value="o" /></td>
            <td><input name="RapportWerk" type="radio" value="m" /></td>
            <td><input name="RapportWerk" type="radio" value="v" /></td>
            <td><input name="RapportWerk" type="radio" value="g" /></td>
            <td><input name="RapportWerk" type="radio" value="n" /></td>
            <td><textarea id="RapportWerkOpm" rows="1" cols="50"></textarea></td>
        </tr>
        <tr>
            <td>Houdt zich aan bedrijfsregels</td>
            <td><input name="HoudtBedrRegels" type="radio" value="o" /></td>
            <td><input name="HoudtBedrRegels" type="radio" value="m" /></td>
            <td><input name="HoudtBedrRegels" type="radio" value="v" /></td>
            <td><input name="HoudtBedrRegels" type="radio" value="g" /></td>
            <td><input name="HoudtBedrRegels" type="radio" value="n" /></td>
            <td><textarea id="HoudtBedrRegelsOpm" rows="1" cols="50"></textarea></td>
        </tr>
        <tr>
            <td>Houdt zich aan ARBO regels</td>
            <td><input name="HoudtARBORegels" type="radio" value="o" /></td>
            <td><input name="HoudtARBORegels" type="radio" value="m" /></td>
            <td><input name="HoudtARBORegels" type="radio" value="v" /></td>
            <td><input name="HoudtARBORegels" type="radio" value="g" /></td>
            <td><input name="HoudtARBORegels" type="radio" value="n" /></td>
            <td><textarea id="HoudtARBORegelsOpm" rows="1" cols="50"></textarea></td>
        </tr>
        <tr>
            <td>Werktempo</td>
            <td><input name="WerkTempo" type="radio" value="o" /></td>
            <td><input name="WerkTempo" type="radio" value="m" /></td>
            <td><input name="WerkTempo" type="radio" value="v" /></td>
            <td><input name="WerkTempo" type="radio" value="g" /></td>
            <td><input name="WerkTempo" type="radio" value="n" /></td>
            <td><textarea id="WerkTempoOpm" rows="1" cols="50"></textarea></td>
        </tr>
        <tr>
            <td>Beoordeling Technische aspecten</td>
            <td colspan="6"><textarea id="BeoordelingTechAspect" rows="1" cols="73"></textarea></td>
        </tr>
        <tr>
            <td>Mogelijke opmerking en/of aandachtspunbten met betrekking tot de technische aspecten</td>
            <td colspan="6"><textarea id="BeoordelingTechAspectOpm" rows="1" cols="73"></textarea></td>
        </tr>
    </tbody>
</table>

<br/>

<table>
    <thead>
        <tr>
            <th>Houdingsaspecten</th>
            <th>O</th>
            <th>M</th>
            <th>V</th>
            <th>G</th>
            <th>X</th>
            <th>Opmerking</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Verloop eerste contacten bedrijf</td>
            <td><input name="VerloopEersteContact" type="radio" value="o" /></td>
            <td><input name="VerloopEersteContact" type="radio" value="m" /></td>
            <td><input name="VerloopEersteContact" type="radio" value="v" /></td>
            <td><input name="VerloopEersteContact" type="radio" value="g" /></td>
            <td><input name="VerloopEersteContact" type="radio" value="n" /></td>
            <td><textarea id="VerloopEersteContactOpm" rows="1" cols="50"></textarea></td>
        </tr>
        <tr>
            <td>Houdingen ten aanzien van collega's</td>
            <td><input name="HoudingTAVCollegas" type="radio" value="o" /></td>
            <td><input name="HoudingTAVCollegas" type="radio" value="m" /></td>
            <td><input name="HoudingTAVCollegas" type="radio" value="v" /></td>
            <td><input name="HoudingTAVCollegas" type="radio" value="g" /></td>
            <td><input name="HoudingTAVCollegas" type="radio" value="n" /></td>
            <td><textarea id="HoudingTAVCollegasOpm" rows="1" cols="50"></textarea></td>
        </tr>
        <tr>
            <td>Houding ten aanzien van leidinggevenden</td>
            <td><input name="HoudingTAVLeiding" type="radio" value="o" /></td>
            <td><input name="HoudingTAVLeiding" type="radio" value="m" /></td>
            <td><input name="HoudingTAVLeiding" type="radio" value="v" /></td>
            <td><input name="HoudingTAVLeiding" type="radio" value="g" /></td>
            <td><input name="HoudingTAVLeiding" type="radio" value="n" /></td>
            <td><textarea id="HoudingTAVLeidingOpm" rows="1" cols="50"></textarea></td>
        </tr>
        <tr>
            <td>Houding ten aanzien van derden</td>
            <td><input name="HoudingTAVDerden" type="radio" value="o" /></td>
            <td><input name="HoudingTAVDerden" type="radio" value="m" /></td>
            <td><input name="HoudingTAVDerden" type="radio" value="v" /></td>
            <td><input name="HoudingTAVDerden" type="radio" value="g" /></td>
            <td><input name="HoudingTAVDerden" type="radio" value="n" /></td>
            <td><textarea id="HoudingTAVDerdenOpm" rows="1" cols="50"></textarea></td>
        </tr>
        <tr>
            <td>Omgaan met kritiek</td>
            <td><input name="OmgaanKritiek" type="radio" value="o" /></td>
            <td><input name="OmgaanKritiek" type="radio" value="m" /></td>
            <td><input name="OmgaanKritiek" type="radio" value="v" /></td>
            <td><input name="OmgaanKritiek" type="radio" value="g" /></td>
            <td><input name="OmgaanKritiek" type="radio" value="n" /></td>
            <td><textarea id="OmgaanKritiekOpm" rows="1" cols="50"></textarea></td>
        </tr>
        <tr>
            <td>Komt op tijd</td>
            <td><input name="OpTijd" type="radio" value="o" /></td>
            <td><input name="OpTijd" type="radio" value="m" /></td>
            <td><input name="OpTijd" type="radio" value="v" /></td>
            <td><input name="OpTijd" type="radio" value="g" /></td>
            <td><input name="OpTijd" type="radio" value="n" /></td>
            <td><textarea id="OpTijdOpm" rows="1" cols="50"></textarea></td>
        </tr>
        <tr>
            <td>Toont eigen initiatief</td>
            <td><input name="ToontInitiatief" type="radio" value="o" /></td>
            <td><input name="ToontInitiatief" type="radio" value="m" /></td>
            <td><input name="ToontInitiatief" type="radio" value="v" /></td>
            <td><input name="ToontInitiatief" type="radio" value="g" /></td>
            <td><input name="ToontInitiatief" type="radio" value="n" /></td>
            <td><textarea id="ToontInitiatiefOpm" rows="1" cols="50"></textarea></td>
        </tr>
        <tr>
            <td>Inzet</td>
            <td><input name="Inzet" type="radio" value="o" /></td>
            <td><input name="Inzet" type="radio" value="m" /></td>
            <td><input name="Inzet" type="radio" value="v" /></td>
            <td><input name="Inzet" type="radio" value="g" /></td>
            <td><input name="Inzet" type="radio" value="n" /></td>
            <td><textarea id="IntzetOpm" rows="1" cols="50"></textarea></td>
        </tr>
        <tr>
            <td>Toont belangstelling voor het vak</td>
            <td><input name="ToontBelangstellingVak" type="radio" value="o" /></td>
            <td><input name="ToontBelangstellingVak" type="radio" value="m" /></td>
            <td><input name="ToontBelangstellingVak" type="radio" value="v" /></td>
            <td><input name="ToontBelangstellingVak" type="radio" value="g" /></td>
            <td><input name="ToontBelangstellingVak" type="radio" value="n" /></td>
            <td><textarea id="ToontBelangstellingVakOpm" rows="1" cols="50"></textarea></td>
        </tr>
        <tr>
            <td>Grenzen aangeven</td>
            <td><input name="GrenzenAangeven" type="radio" value="o" /></td>
            <td><input name="GrenzenAangeven" type="radio" value="m" /></td>
            <td><input name="GrenzenAangeven" type="radio" value="v" /></td>
            <td><input name="GrenzenAangeven" type="radio" value="g" /></td>
            <td><input name="GrenzenAangeven" type="radio" value="n" /></td>
            <td><textarea id="GrenzenAangevenOpm" rows="1" cols="50"></textarea></td>
        </tr>
        <tr>
            <td>Komt afspraken na</td>
            <td><input name="KomtAfsprakenNa" type="radio" value="o" /></td>
            <td><input name="KomtAfsprakenNa" type="radio" value="m" /></td>
            <td><input name="KomtAfsprakenNa" type="radio" value="v" /></td>
            <td><input name="KomtAfsprakenNa" type="radio" value="g" /></td>
            <td><input name="KomtAfsprakenNa" type="radio" value="n" /></td>
            <td><textarea id="KomtAfsprakenNaOpm" rows="1" cols="50"></textarea></td>
        </tr>
        <tr>
            <td>Kan zelfstandig werken</td>
            <td><input name="ZelfstandigWerken" type="radio" value="o" /></td>
            <td><input name="ZelfstandigWerken" type="radio" value="m" /></td>
            <td><input name="ZelfstandigWerken" type="radio" value="v" /></td>
            <td><input name="ZelfstandigWerken" type="radio" value="g" /></td>
            <td><input name="ZelfstandigWerken" type="radio" value="n" /></td>
            <td><textarea id="ZelfstandigWerkenOpm" rows="1" cols="50"></textarea></td>
        </tr>
        <tr>
            <td>Gemotiveerd</td>
            <td><input name="Gemotiveerd" type="radio" value="o" /></td>
            <td><input name="Gemotiveerd" type="radio" value="m" /></td>
            <td><input name="Gemotiveerd" type="radio" value="v" /></td>
            <td><input name="Gemotiveerd" type="radio" value="g" /></td>
            <td><input name="Gemotiveerd" type="radio" value="n" /></td>
            <td><textarea id="GemotiveerdOpm" rows="1" cols="50"></textarea></td>
        </tr>
        <tr>
            <td>HoudingsAspecten</td>
            <td colspan="6"><textarea id="HoudingsAspecten" rows="1" cols="73"></textarea></td>
        </tr>
        <tr>
            <td>HoudingAspectenOpm</td>
            <td colspan="6"><textarea id="HoudingAspectenOpm" rows="1" cols="73"></textarea></td>
        </tr>
    </tbody>
</table>

<br/>

<table>
    <thead>
        <tr>
            <th>Technische aspecten</th>
            <th>O</th>
            <th>M</th>
            <th>V</th>
            <th>G</th>
            <th>X</th>
            <th>Opmerking</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Verslag</td>
            <td><input name="Verslag" type="radio" value="o" /></td>
            <td><input name="Verslag" type="radio" value="m" /></td>
            <td><input name="Verslag" type="radio" value="v" /></td>
            <td><input name="Verslag" type="radio" value="g" /></td>
            <td><input name="Verslag" type="radio" value="n" /></td>
            <td><textarea id="VerslagOpm" rows="1" cols="50"></textarea></td>
        </tr>
    </tbody>
</table>

<br/>
<table>
    <tr>
        <th align="center" valign="middle">Handtekening Docent</th>
        <th align="center" valign="middle">Handtekening Begeleider</th>
        <th align="center" valign="middle">Handtekening Stagiair</th>
    </tr>
    <tr>
        <td ><canvas id="b" width="200" height="100" class="cvs"></canvas> </td>
        <td ><canvas id="s" width="200" height="100" class="cvs"></canvas> </td>
        <td ><canvas id="d" width="200" height="100" class="cvs"></canvas> </td>
    </tr>
    <tr>
        <td align="center" valign="middle"><input class="clsbtn" value="Clear" type="button" onclick="ClearCanvas('b')" /></td>
        <td align="center" valign="middle"><input class="clsbtn" value="Clear" type="button" onclick="ClearCanvas('s')" /></td>
        <td align="center" valign="middle"><input class="clsbtn" value="Clear" type="button" onclick="ClearCanvas('d')" /></td>
    </tr>
</table>

<script src="~/Scripts/mousecontroller.js"></script>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
