@model PVB_Stage_Applicatie.Models.Stage

@{
    ViewBag.Title = "Create";
}

<style type="text/css">
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    th, td {
        padding: 5px;
    }

    cvsmaster {
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }



    .clsbtn {
        text-align: center;
        vertical-align: middle;
    }
</style>
<script>
    var beoordelingen =
        [
            {
                Beoordeling: "Beoordeling1",
                Opmerking: "Beoordeling1opm"
            },
            {
                Beoordeling: "VoorbereidWerk",
                Opmerking: "VoorbereidWerkOpm"
            },
            {
                Beoordeling: "PlanEnOrganiserenWerk",
                Opmerking: "PlanEnOrganiserenWerkOpm"
            },
            {
                Beoordeling: "TheoretischInzicht",
                Opmerking: "TheoretischInzichtOpm"
            },
            {
                Beoordeling: "TechnischInzicht",
                Opmerking: "TechnischInzichtOpm"
            },
            {
                Beoordeling: "KwalGeleverdWerk",
                Opmerking: "KwalGeleverdWerkOpm"
            },
            {
                Beoordeling: "RapportWerk",
                Opmerking: "RapportWerkOpm"
            },
            {
                Beoordeling: "HoudtBedrRegels",
                Opmerking: "HoudtBedrRegelsOpm"
            },
            {
                Beoordeling: "HoudtARBORegels",
                Opmerking: "HoudtARBORegelsOpm"
            },
            {
                Beoordeling: "WerkTempo",
                Opmerking: "WerkTempoOpm"
            },
            {
                Beoordeling: "VerloopEersteContact",
                Opmerking: "VerloopEersteContactOpm"
            },
            {
                Beoordeling: "HoudingTAVCollegas",
                Opmerking: "HoudingTAVCollegasOpm"
            },
            {
                Beoordeling: "HoudingTAVLeiding",
                Opmerking: "HoudingTAVLeidingOpm"
            },
            {
                Beoordeling: "HoudingTAVDerden",
                Opmerking: "HoudingTAVDerdenOpm"
            },
            {
                Beoordeling: "OmgaanKritiek",
                Opmerking: "OmgaanKritiekOpm"
            },
            {
                Beoordeling: "OpTijd",
                Opmerking: "OpTijdOpm"
            },
            {
                Beoordeling: "ToontInitiatief",
                Opmerking: "ToontInitiatiefOpm"
            },
            {
                Beoordeling: "Inzet",
                Opmerking: "IntzetOpm"
            },
            {
                Beoordeling: "ToontBelangstellingVak",
                Opmerking: "ToontBelangstellingVakOpm"
            },
            {
                Beoordeling: "GrenzenAangeven",
                Opmerking: "GrenzenAangevenOpm"
            },
            {
                Beoordeling: "KomtAfsprakenNa",
                Opmerking: "KomtAfsprakenNaOpm"
            },
            {
                Beoordeling: "ZelfstandigWerken",
                Opmerking: "ZelfstandigWerkenOpm"
            },
            {
                Beoordeling: "Gemotiveerd",
                Opmerking: "GemotiveerdOpm"
            },
            {
                Beoordeling: "HoudingsAspecten",
                Opmerking: "HoudingAspectenOpm"
            },
            {
                Beoordeling: "BeoordelingTechAspect",
                Opmerking: "BeoordelingTechAspectOpm"
            },
            {
                Beoordeling: "Verslag",
                Opmerking: "VerslagOpm"
            }
    ];

    var Handtekeningen = ["d", "b", "s"];

    $("#klikje").live('click', function () {

        var beoordelingenToPost = {};
        beoordelingen.forEach(function (item) {
            var radio = $("input[name=" + item.Beoordeling + "]:checked").val();
            var opmerking = $("#" + item.Opmerking).val();

            if (radio) {
                var temp = {};

                temp.beoordeling = parseInt(radio);

                temp.opmerking = opmerking ? opmerking : "Geen opmerkingen";

                beoordelingenToPost[item.Beoordeling] = temp;
            }
            else {
                //Moet aborten en foutmelding geven
            }
        });

        var handtekeningenToPost = {};
        Handtekeningen.forEach(function (item) {
            var temp = {}

            temp.handtekening = Canvas2Image.convertToImage(d3.select("#" + item).node(), 200, 100, "png").src

            handtekeningenToPost[item] = temp;
        });

        beoordelingenToPost = JSON.stringify(beoordelingenToPost);
        handtekeningenToPost = JSON.stringify(handtekeningenToPost);

        $.ajax({
            url: '/Beoordeling/OpsturenEind',
            type: 'POST',
            data:
            {
                beoordelingenJson: beoordelingenToPost,
                handtekeningenJson: handtekeningenToPost,
                stageID: "@Model.StageID"
            }
        });
    });
</script>
<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
<script src="~/Scripts/canvas2image.js"></script>
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>

    Beoordeling1
<input name="Beoordeling1" type="radio" value="1"> O Onvoldoende
<input name="Beoordeling1" type="radio" value="2"> M Matig
<input name="Beoordeling1" type="radio" value="3"> V Voldoende
<input name="Beoordeling1" type="radio" value="4"> G Goed
<input name="Beoordeling1" type="radio" value="5"> X Niet van toepassing

    <br />
    <br />

<table>
    <thead>
        <tr>
            <th>Technische aspecten</th>
            <th>O</th>
            <th>M</th>
            <th>V</th>
            <th>G</th>
            <th>X</th>
            <th>Opmerking</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Voorbereding werkzaamheden</td>
            <td><input name="VoorbereidWerk" type="radio" value="1" /></td>
            <td><input name="VoorbereidWerk" type="radio" value="2" /></td>
            <td><input name="VoorbereidWerk" type="radio" value="3" /></td>
            <td><input name="VoorbereidWerk" type="radio" value="4" /></td>
            <td><input name="VoorbereidWerk" type="radio" value="0" /></td>
            <td><textarea id="VoorbereidWerkOpm" rows="1" cols="50"></textarea></td>
        </tr>
        <tr>
            <td>Plannen en organiseren werkzaamheden</td>
            <td><input name="PlanEnOrganiserenWerk" type="radio" value="1" /></td>
            <td><input name="PlanEnOrganiserenWerk" type="radio" value="2" /></td>
            <td><input name="PlanEnOrganiserenWerk" type="radio" value="3" /></td>
            <td><input name="PlanEnOrganiserenWerk" type="radio" value="4" /></td>
            <td><input name="PlanEnOrganiserenWerk" type="radio" value="0" /></td>
            <td><textarea id="PlanEnOrganiserenWerkOpm" rows="1" cols="50"></textarea></td>
        </tr>
        <tr>
            <td>Theoretisch inzicht</td>
            <td><input name="TheoretischInzicht" type="radio" value="1" /></td>
            <td><input name="TheoretischInzicht" type="radio" value="2" /></td>
            <td><input name="TheoretischInzicht" type="radio" value="3" /></td>
            <td><input name="TheoretischInzicht" type="radio" value="4" /></td>
            <td><input name="TheoretischInzicht" type="radio" value="0" /></td>
            <td><textarea id="TheoretischInzichtOpm" rows="1" cols="50"></textarea></td>
        </tr>
        <tr>
            <td>Technisch inzicht</td>
            <td><input name="TechnischInzicht" type="radio" value="1" /></td>
            <td><input name="TechnischInzicht" type="radio" value="2" /></td>
            <td><input name="TechnischInzicht" type="radio" value="3" /></td>
            <td><input name="TechnischInzicht" type="radio" value="4" /></td>
            <td><input name="TechnischInzicht" type="radio" value="0" /></td>
            <td><textarea id="TechnischInzichtOpm" rows="1" cols="50"></textarea></td>
        </tr>
        <tr>
            <td>Kwaliteit geleverd werk</td>
            <td><input name="KwalGeleverdWerk" type="radio" value="1" /></td>
            <td><input name="KwalGeleverdWerk" type="radio" value="2" /></td>
            <td><input name="KwalGeleverdWerk" type="radio" value="3" /></td>
            <td><input name="KwalGeleverdWerk" type="radio" value="4" /></td>
            <td><input name="KwalGeleverdWerk" type="radio" value="0" /></td>
            <td><textarea id="KwalGeleverdWerkOpm" rows="1" cols="50"></textarea></td>
        </tr>
        <tr>
            <td>Rapporterem werkzaamheden</td>
            <td><input name="RapportWerk" type="radio" value="1" /></td>
            <td><input name="RapportWerk" type="radio" value="2" /></td>
            <td><input name="RapportWerk" type="radio" value="3" /></td>
            <td><input name="RapportWerk" type="radio" value="4" /></td>
            <td><input name="RapportWerk" type="radio" value="0" /></td>
            <td><textarea id="RapportWerkOpm" rows="1" cols="50"></textarea></td>
        </tr>
        <tr>
            <td>Houdt zich aan bedrijfsregels</td>
            <td><input name="HoudtBedrRegels" type="radio" value="1" /></td>
            <td><input name="HoudtBedrRegels" type="radio" value="2" /></td>
            <td><input name="HoudtBedrRegels" type="radio" value="3" /></td>
            <td><input name="HoudtBedrRegels" type="radio" value="4" /></td>
            <td><input name="HoudtBedrRegels" type="radio" value="0" /></td>
            <td><textarea id="HoudtBedrRegelsOpm" rows="1" cols="50"></textarea></td>
        </tr>
        <tr>
            <td>Houdt zich aan ARBO regels</td>
            <td><input name="HoudtARBORegels" type="radio" value="1" /></td>
            <td><input name="HoudtARBORegels" type="radio" value="2" /></td>
            <td><input name="HoudtARBORegels" type="radio" value="3" /></td>
            <td><input name="HoudtARBORegels" type="radio" value="4" /></td>
            <td><input name="HoudtARBORegels" type="radio" value="0" /></td>
            <td><textarea id="HoudtARBORegelsOpm" rows="1" cols="50"></textarea></td>
        </tr>
        <tr>
            <td>Werktempo</td>
            <td><input name="WerkTempo" type="radio" value="1" /></td>
            <td><input name="WerkTempo" type="radio" value="2" /></td>
            <td><input name="WerkTempo" type="radio" value="3" /></td>
            <td><input name="WerkTempo" type="radio" value="4" /></td>
            <td><input name="WerkTempo" type="radio" value="0" /></td>
            <td><textarea id="WerkTempoOpm" rows="1" cols="50"></textarea></td>
        </tr>
        <tr>
            <td>Beoordeling Technische aspecten</td>
            <td><input name="BeoordelingTechAspect" type="radio" value="1" /></td>
            <td><input name="BeoordelingTechAspect" type="radio" value="2" /></td>
            <td><input name="BeoordelingTechAspect" type="radio" value="3" /></td>
            <td><input name="BeoordelingTechAspect" type="radio" value="4" /></td>
            <td><input name="BeoordelingTechAspect" type="radio" value="0" /></td>
            <td><textarea id="BeoordelingTechAspectOpm" rows="1" cols="50"></textarea></td>
        </tr>
    </tbody>
</table>

<br />

<table>
    <thead>
        <tr>
            <th>Houdingsaspecten</th>
            <th>O</th>
            <th>M</th>
            <th>V</th>
            <th>G</th>
            <th>X</th>
            <th>Opmerking</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Verloop eerste contacten bedrijf</td>
            <td><input name="VerloopEersteContact" type="radio" value="1" /></td>
            <td><input name="VerloopEersteContact" type="radio" value="2" /></td>
            <td><input name="VerloopEersteContact" type="radio" value="3" /></td>
            <td><input name="VerloopEersteContact" type="radio" value="4" /></td>
            <td><input name="VerloopEersteContact" type="radio" value="0" /></td>
            <td><textarea id="VerloopEersteContactOpm" rows="1" cols="50"></textarea></td>
        </tr>
        <tr>
            <td>Houdingen ten aanzien van collega's</td>
            <td><input name="HoudingTAVCollegas" type="radio" value="1" /></td>
            <td><input name="HoudingTAVCollegas" type="radio" value="2" /></td>
            <td><input name="HoudingTAVCollegas" type="radio" value="3" /></td>
            <td><input name="HoudingTAVCollegas" type="radio" value="4" /></td>
            <td><input name="HoudingTAVCollegas" type="radio" value="0" /></td>
            <td><textarea id="HoudingTAVCollegasOpm" rows="1" cols="50"></textarea></td>
        </tr>
        <tr>
            <td>Houding ten aanzien van leidinggevenden</td>
            <td><input name="HoudingTAVLeiding" type="radio" value="1" /></td>
            <td><input name="HoudingTAVLeiding" type="radio" value="2" /></td>
            <td><input name="HoudingTAVLeiding" type="radio" value="3" /></td>
            <td><input name="HoudingTAVLeiding" type="radio" value="4" /></td>
            <td><input name="HoudingTAVLeiding" type="radio" value="0" /></td>
            <td><textarea id="HoudingTAVLeidingOpm" rows="1" cols="50"></textarea></td>
        </tr>
        <tr>
            <td>Houding ten aanzien van derden</td>
            <td><input name="HoudingTAVDerden" type="radio" value="1" /></td>
            <td><input name="HoudingTAVDerden" type="radio" value="2" /></td>
            <td><input name="HoudingTAVDerden" type="radio" value="3" /></td>
            <td><input name="HoudingTAVDerden" type="radio" value="4" /></td>
            <td><input name="HoudingTAVDerden" type="radio" value="0" /></td>
            <td><textarea id="HoudingTAVDerdenOpm" rows="1" cols="50"></textarea></td>
        </tr>
        <tr>
            <td>Omgaan met kritiek</td>
            <td><input name="OmgaanKritiek" type="radio" value="1" /></td>
            <td><input name="OmgaanKritiek" type="radio" value="2" /></td>
            <td><input name="OmgaanKritiek" type="radio" value="3" /></td>
            <td><input name="OmgaanKritiek" type="radio" value="4" /></td>
            <td><input name="OmgaanKritiek" type="radio" value="0" /></td>
            <td><textarea id="OmgaanKritiekOpm" rows="1" cols="50"></textarea></td>
        </tr>
        <tr>
            <td>Komt op tijd</td>
            <td><input name="OpTijd" type="radio" value="1" /></td>
            <td><input name="OpTijd" type="radio" value="2" /></td>
            <td><input name="OpTijd" type="radio" value="3" /></td>
            <td><input name="OpTijd" type="radio" value="4" /></td>
            <td><input name="OpTijd" type="radio" value="0" /></td>
            <td><textarea id="OpTijdOpm" rows="1" cols="50"></textarea></td>
        </tr>
        <tr>
            <td>Toont eigen initiatief</td>
            <td><input name="ToontInitiatief" type="radio" value="1" /></td>
            <td><input name="ToontInitiatief" type="radio" value="2" /></td>
            <td><input name="ToontInitiatief" type="radio" value="3" /></td>
            <td><input name="ToontInitiatief" type="radio" value="4" /></td>
            <td><input name="ToontInitiatief" type="radio" value="0" /></td>
            <td><textarea id="ToontInitiatiefOpm" rows="1" cols="50"></textarea></td>
        </tr>
        <tr>
            <td>Inzet</td>
            <td><input name="Inzet" type="radio" value="1" /></td>
            <td><input name="Inzet" type="radio" value="2" /></td>
            <td><input name="Inzet" type="radio" value="3" /></td>
            <td><input name="Inzet" type="radio" value="4" /></td>
            <td><input name="Inzet" type="radio" value="0" /></td>
            <td><textarea id="IntzetOpm" rows="1" cols="50"></textarea></td>
        </tr>
        <tr>
            <td>Toont belangstelling voor het vak</td>
            <td><input name="ToontBelangstellingVak" type="radio" value="1" /></td>
            <td><input name="ToontBelangstellingVak" type="radio" value="2" /></td>
            <td><input name="ToontBelangstellingVak" type="radio" value="3" /></td>
            <td><input name="ToontBelangstellingVak" type="radio" value="4" /></td>
            <td><input name="ToontBelangstellingVak" type="radio" value="0" /></td>
            <td><textarea id="ToontBelangstellingVakOpm" rows="1" cols="50"></textarea></td>
        </tr>
        <tr>
            <td>Grenzen aangeven</td>
            <td><input name="GrenzenAangeven" type="radio" value="1" /></td>
            <td><input name="GrenzenAangeven" type="radio" value="2" /></td>
            <td><input name="GrenzenAangeven" type="radio" value="3" /></td>
            <td><input name="GrenzenAangeven" type="radio" value="4" /></td>
            <td><input name="GrenzenAangeven" type="radio" value="0" /></td>
            <td><textarea id="GrenzenAangevenOpm" rows="1" cols="50"></textarea></td>
        </tr>
        <tr>
            <td>Komt afspraken na</td>
            <td><input name="KomtAfsprakenNa" type="radio" value="1" /></td>
            <td><input name="KomtAfsprakenNa" type="radio" value="2" /></td>
            <td><input name="KomtAfsprakenNa" type="radio" value="3" /></td>
            <td><input name="KomtAfsprakenNa" type="radio" value="4" /></td>
            <td><input name="KomtAfsprakenNa" type="radio" value="0" /></td>
            <td><textarea id="KomtAfsprakenNaOpm" rows="1" cols="50"></textarea></td>
        </tr>
        <tr>
            <td>Kan zelfstandig werken</td>
            <td><input name="ZelfstandigWerken" type="radio" value="1" /></td>
            <td><input name="ZelfstandigWerken" type="radio" value="2" /></td>
            <td><input name="ZelfstandigWerken" type="radio" value="3" /></td>
            <td><input name="ZelfstandigWerken" type="radio" value="4" /></td>
            <td><input name="ZelfstandigWerken" type="radio" value="0" /></td>
            <td><textarea id="ZelfstandigWerkenOpm" rows="1" cols="50"></textarea></td>
        </tr>
        <tr>
            <td>Gemotiveerd</td>
            <td><input name="Gemotiveerd" type="radio" value="1" /></td>
            <td><input name="Gemotiveerd" type="radio" value="2" /></td>
            <td><input name="Gemotiveerd" type="radio" value="3" /></td>
            <td><input name="Gemotiveerd" type="radio" value="4" /></td>
            <td><input name="Gemotiveerd" type="radio" value="0" /></td>
            <td><textarea id="GemotiveerdOpm" rows="1" cols="50"></textarea></td>
        </tr>
        <tr>
            <td>HoudingsAspecten</td>
            <td><input name="HoudingsAspecten" type="radio" value="1" /></td>
            <td><input name="HoudingsAspecten" type="radio" value="2" /></td>
            <td><input name="HoudingsAspecten" type="radio" value="3" /></td>
            <td><input name="HoudingsAspecten" type="radio" value="4" /></td>
            <td><input name="HoudingsAspecten" type="radio" value="0" /></td>
            <td colspan="6"><textarea id="HoudingAspectenOpm" rows="1" cols="50"></textarea></td>

        </tr>
    </tbody>
</table>

<br />

<table>
    <thead>
        <tr>
            <th>Technische aspecten</th>
            <th>O</th>
            <th>M</th>
            <th>V</th>
            <th>G</th>
            <th>X</th>
            <th>Opmerking</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Verslag</td>
            <td><input name="Verslag" type="radio" value="1" /></td>
            <td><input name="Verslag" type="radio" value="2" /></td>
            <td><input name="Verslag" type="radio" value="3" /></td>
            <td><input name="Verslag" type="radio" value="4" /></td>
            <td><input name="Verslag" type="radio" value="0" /></td>
            <td><textarea id="VerslagOpm" rows="1" cols="50"></textarea></td>
        </tr>
    </tbody>
</table>

<br />
<table>
    <tr>
        <th align="center" valign="middle">Handtekening Docent</th>
        <th align="center" valign="middle">Handtekening Begeleider</th>
        <th align="center" valign="middle">Handtekening Stagiair</th>
    </tr>
    <tr>
        <td><canvas id="b" width="200" height="100" class="cvs"></canvas> </td>
        <td><canvas id="s" width="200" height="100" class="cvs"></canvas> </td>
        <td><canvas id="d" width="200" height="100" class="cvs"></canvas> </td>
    </tr>
    <tr>
        <td align="center" valign="middle"><input class="clsbtn" value="Clear" type="button" onclick="ClearCanvas('b')" /></td>
        <td align="center" valign="middle"><input class="clsbtn" value="Clear" type="button" onclick="ClearCanvas('s')" /></td>
        <td align="center" valign="middle"><input class="clsbtn" value="Clear" type="button" onclick="ClearCanvas('d')" /></td>
    </tr>
</table>
<input type="button" id="klikje" />
<script src="~/Scripts/mousecontroller.js"></script>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
