body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header, footer, nav, section {
    display: block;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

#bovenbalk{
    background-color: #526675;
}

#menubalk {
    height:40px;
    background-color: #ddd;
    padding-left:150px;
}
#menuItems {
    list-style: none;
}
.menuItem{
    display:inline-block;
    border-right:solid 4px white;
    padding: 10px;
    height:40px;
}

#subMenuLinks{
    position:absolute;
    float:left;
    padding-left:10px;
    margin-right:50px;
    width:150px;
    background-color:#788895;
    height: 100%;
}

#content{
    position:absolute;
    margin-left:200px;
    width:1000px;
}

.display-label, 
.editor-label{
    font-weight:bold;

}
.display-label{
    width:40%;
    max-width:200px;
}
.display-field,
.display-label{
    display:inline-block;
    vertical-align:top;
}

.display-field{
    display:inline-block;
    width:50%;
    margin: auto;
}

.stage-field{
    display:inline;
    width:200px;
    vertical-align:top;    
}

.details-field{
           width:400px;
}