@using PVB_Stage_Applicatie.Models;
@{
    var menus = new[]
                {
                   new { LinkText="Home", ActionName="Index",ControllerName="Home",Roles= "Beheerder,Docent"},
                    //Menu Beheerder                   
                   new { LinkText="Beheren Bedrijf", ActionName="Index",ControllerName="Bedrijf",Roles= "Beheerder"},
                   new { LinkText="Beheren Stagiair", ActionName="Index",ControllerName="Stagiair",Roles= "Beheerder"},                 
                   new { LinkText="Beheren Docent", ActionName="Index",ControllerName="Docent",Roles= "Beheerder"},
                   new { LinkText="Beheren Periodes", ActionName="Index",ControllerName="Periode",Roles= "Beheerder"},
                   new { LinkText="Beheren Koppelingen", ActionName="Index",ControllerName="Koppeling",Roles= "Beheerder"},
                   new { LinkText="Beheren Begeleiders", ActionName="Index",ControllerName="Begeleider",Roles= "Beheerder"},
                   new { LinkText="Formulieren", ActionName="Index", ControllerName="Formulier", Roles= "Beheerder" },
                   
                   //Menu Docent
                   new { LinkText="Mijn Gegevens", ActionName="Index",ControllerName="Docent",Roles= "Docent" },
                   new { LinkText="Mijn Bedrijven", ActionName="Index",ControllerName="Bedrijf",Roles= "Docent" },
                   new { LinkText="Mijn Stagiaires", ActionName="Index",ControllerName="Stagiair",Roles= "Docent" },
                   new { LinkText="Mijn Stages", ActionName="Index",ControllerName="Koppeling",Roles= "Docent" },
                   new { LinkText="Mijn Stageperiodes", ActionName="Index",ControllerName="Periode",Roles= "Docent" },
                   new { LinkText="Formulieren", ActionName="Index", ControllerName="Formulier", Roles= "Docent" },
                   
                   //Algemeen
                   new { LinkText="Uitloggen", ActionName="logUit",ControllerName="Login",Roles= "Beheerder,Docent" },
                   new { LinkText="Inloggen", ActionName="Index",ControllerName="Login",Roles= "Anonymous"}
                };
} 
<ul class="nav navbar-nav">
    @if (HttpContext.Current.User.Identity.IsAuthenticated)
    {
        PVB_Stage_Applicatie.Models.RolVerdeler rv = new PVB_Stage_Applicatie.Models.RolVerdeler();
        RolePrincipal rp = (RolePrincipal)User;

        String roles = rv.ZoekRolGebruiker(HttpContext.Current.User.Identity.Name);
        var links = from item in menus
                    where item.Roles.Split(new String[] { "," }, StringSplitOptions.RemoveEmptyEntries)
                    .Any(x => roles.Contains(x) || x == "All")
                    select item;
        foreach (var link in links)
        {
            @:
            <li> @Html.ActionLink(link.LinkText, link.ActionName, link.ControllerName, null, new { @class = "menuknop"})</li>
        }
        
    }
    else
    {
        var links = from item in menus
                    where item.Roles.Split(new String[] { "," }, StringSplitOptions.RemoveEmptyEntries)
                    .Any(x => new String[] { "All", "Anonymous" }.Contains(x))
                    select item;
        foreach (var link in links)
        {
            @:
            <li> @Html.ActionLink(link.LinkText, link.ActionName, link.ControllerName)</li>
        }
    }
</ul> 