@{
    ViewBag.Title = "Bulk Invoer Begeleider";
}

<h2>BulkInvoerBegeleider</h2>
@using (Html.BeginForm("BulkInvoer", "Begeleider", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="file" />
    <input type="submit" value="OK" />
}
<p>@Html.Encode(ViewData["Feedback"])</p>
