@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>LoggedIn</title>
    </head>
    <body>
        <div>
            Heuj, moeilijk enzo.
        </div>
    </body>
</html>
