@model PVB_Stage_Applicatie.Models.StudentViewModel

@{
    ViewBag.Title = "Selecteer";
}

@Html.Hidden("Studenten", string.Join(",", (object)ViewBag.student))
@Html.Hidden("Periodes", string.Join(",", (object)ViewBag.stageperiode))

@if ((ViewBag.DropDownList as IEnumerable<SelectListItem>).Count() > 0)
{
    <h2>Selecteer een student</h2>
    using (Html.BeginForm())
    {
        @Html.DropDownListFor(model => model.stageId,
   (IEnumerable<SelectListItem>)ViewBag.DropDownList, "Selecteer een student")

        <p>
            <input type="submit" value="Create" />
        </p>
    }
}
else
{
    <h2> Er zijn nog geen stages aan u toegewezen</h2>
}


