@{
    ViewBag.Title = "Bulk Invoer Bedrijf";
}
    @section zijMenu{
            <li>@Html.ActionLink("Terug", "index")</li>
            <li>
@Html.ActionLink("Download Template", "Download", "Bedrijf")
            </li>
    }
<h2>Bulk Invoer Bedrijf</h2>
@using (Html.BeginForm("BulkInvoer", "Bedrijf", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="file" />
    <input type="submit" value="OK" />
}
<p>@Html.Encode(ViewData["Feedback"])</p>

